<ion-view id="picdetail">
    <ion-nav-title>【{{product.desc}}】</ion-nav-title>
    <ion-nav-buttons side="left"><i ui-sref="tabs_pic.pic_new" class="icon ion-ios-arrow-left" style="font-size: 30px;margin: 3px 0 0 6px"></i> </ion-nav-buttons>
    <ion-nav-buttons side="right"><i style="font-size: 30px;margin: 3px 5px 0 0;" class="icon ion-ios-more" ng-click="showAlert()"></i></ion-nav-buttons>
    <ion-content style="background: #000">
        <div style="position: absolute;top:50%;transform: translateY(-50%)"><img ng-src="{{product.imgb}}" style="width: 100%;"></div>
    </ion-content>
</ion-view>