<ion-view title="作品">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-load-d" on-pulling="doRefresh()"></ion-refresher>
        <div class="row" id="row_work" ng-repeat="work in data">
            <div class="col col-50">
                <a href="#"><img ng-src="{{work.imgsrc1}}"></a>
                <p>{{work.name1}}</p>
            </div>
            <div class="col col-50">
                <a href="#"><img ng-src="{{work.imgsrc2}}"></a>
                <p>{{work.name2}}</p>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
    <div id="top" ng-click="top()">TOP</div>
</ion-view>